<%= form_for(@relationpoll) do |f| %>
  <% if @relationpoll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relationpoll.errors.count, "error") %> prohibited this relationpoll from being saved:</h2>

      <ul>
      <% @relationpoll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_area :user %>
  </div>
  <div class="field">
    <%= f.label :donator %><br>
    <%= f.text_area :donator %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
