<p id="notice"><%= notice %></p>

<h1>Listing Relationpolls</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Donator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @relationpolls.each do |relationpoll| %>
      <tr>
        <td><%= relationpoll.user %></td>
        <td><%= relationpoll.donator %></td>
        <td><%= link_to 'Show', relationpoll %></td>
        <td><%= link_to 'Edit', edit_relationpoll_path(relationpoll) %></td>
        <td><%= link_to 'Destroy', relationpoll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Relationpoll', new_relationpoll_path %>
