  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



  <%if current_user%>
  <h1>You have <%=@user.active_votes%> votes</h1> 
  <%if @user.active_votes >=0 %>
  <p>What would you like?</p>
  <!-- Trigger the modal with a button -->
  <%if @user.active_votes >0%>
  	<button id="show2">vote</button>
  	<button id="show">delegate vote</button>
  <br>
  <%end%>


  <%end%>
  <%else%>
  <h1>You must be signed</h1> 
  <%end%>

  <dialog id="window">
  	<h3>delegate vote</h3>
  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, inventore!</p>
  	<%= form_tag(root_path, method: "get") do %>
  		<%=collection_radio_buttons(:get, :poll, @users, :id, :name)%>
  		<div><%= submit_tag 'Save' %></div>
  	<%end%>
  	<hr>
  	<button id="exit">Exit</button>
  </dialog>

  <dialog id="window2">
  	<h3>How should trolling be handled online?</h3>
  	<p>
  		<%= form_tag(root_path, method: "get") do %>
  			<%= radio_button("get", "category", "1")%>Censor the message
  			<BR>
			<%= radio_button("get", "category", "2") %>Ban the user
			<BR>
			<%= radio_button("get", "category", "3") %> Have a moderator decide on handling
			<BR>
			<%= radio_button("get", "category", "4") %>Expose them in public
			<BR>
			<%= radio_button("get", "category", "5") %>Nothing, trolling should be allowed
  			<div><%= submit_tag 'Save' %></div>
		<% end -%>
	</p>
  		
  		<button id="exit2">Exit</button>
  	</dialog>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
 <% end %>


  	<script type="text/javascript">
  	(function() {
  		var dialog = document.getElementById('window');
  		document.getElementById('show').onclick = function() {
  			dialog.show();
  		};
  		document.getElementById('exit').onclick = function() {
  			dialog.close();
  		};
  	})();

  	(function() {
  		var dialog = document.getElementById('window2');
  		document.getElementById('show2').onclick = function() {
  			dialog.show();
  		};
  		document.getElementById('exit2').onclick = function() {
  			dialog.close();
  		};
  	})();

  	</script>
